{{> head}}

{{> navbar }}
<div class="container">
<div class="row">
    <div class="col-8">
        <h2>Col 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia totam obcaecati impedit quam! Veniam sed mollitia consequuntur error necessitatibus! Ex inventore id, amet hic ipsa laudantium ipsum mollitia eum vitae.</p>
    </div>
    <div class="col-4">
        <h2>Col 2</h2>
        <img class="card-img-top" src="https://i.kinja-img.com/gawker-media/image/upload/s--Z_YUWgMx--/c_scale,f_auto,fl_progressive,q_80,w_800/etw5ahwcfttkqikxbfg3.jpg" alt="">    </div>
</div>
</div>

{{> footer}}